<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556734388698-tb4b2t4e67b6fqjp0mknpv76t5659kvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556734388698-tb4b2t4e67b6fqjp0mknpv76t5659kvo</string>
	<key>API_KEY</key>
	<string>AIzaSyBMFGXst7dXL3h-ywAl2r1O-6yIn9fFrQU</string>
	<key>GCM_SENDER_ID</key>
	<string>556734388698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chrisyan.SoupsOn</string>
	<key>PROJECT_ID</key>
	<string>soups-on-3b88c</string>
	<key>STORAGE_BUCKET</key>
	<string>soups-on-3b88c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556734388698:ios:87d37089d7d6bdeea4c8e3</string>
</dict>
</plist>